
@model   IEnumerable<Vehicle> 


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
    <th>FirstName</th>
    <th>LastName</th>
    <th>Sex</th>
    <th>Age</th>
    <th>Salary</th>
    <th>Address</th>

    </thead>
    <tbody>
        @{
            foreach (Vehicle vehicle in Model )
            {
                <tr>
                    <td>@vehicle.Make</td>
                    <td>@vehicle.Model </td>
                    <td>@vehicle.Colour</td>
                    <td>@vehicle.Year</td>
                  
                    <td><a href="@Url.Action("edit", "vehicles", new { id = @vehicle.Id })" class="btn btn-success"> Edit</a></td>
                    <td><a href="@Url.Action("delete", "vehicles", new { id = @vehicle.Id })" class="btn btn-danger" onclick="return confirm('Are you sure you want to Delete?')"> Delete</a></td>
                </tr>




            }

        }

       

    </tbody>



</table>


<script>
    $('.alert').delay(5000).fadeOut(3000);
</script>

